# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
concurrency:
  group: master
  cancel-in-progress: true
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  asset-pack:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          path: tf/download

      - name: Create asset pack
        run: |
          mv 'tf/download/.github/HOW TO INSTALL!.gif' .
          {
            zip -r mlarchive-assets.zip tf -x '*/.*' -x '*.bz2' -x 'tf_mvm_missioncycle.res' 
            zip mlarchive-assets.zip 'HOW TO INSTALL!.gif'
          } &
          
          {
            zip -r mlarchive-assets-no-maps.zip tf -x '*/.*' -x '*.bz2' -x 'tf/download/maps/*' -x 'tf_mvm_missioncycle.res'
            zip mlarchive-assets-no-maps.zip 'HOW TO INSTALL!.gif'
          } &
          wait
          rm 'HOW TO INSTALL!.gif'

      - name: Upload to R2
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --exclude '*' --include '*.zip' --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: fastdl-mlarchive
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          AWS_REGION: 'auto'   # optional: defaults to us-east-1
          AWS_S3_ENDPOINT: https://d7d00000029f3cf361b520329f5e69df.r2.cloudflarestorage.com
  
  archive-sync:

    runs-on: ubuntu-latest

    steps:

      - name: Trigger Archive Sync

        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.ARCHIVE_WORKFLOW_DISPATCH }}
          repository: potato-tf/ArchiveAssets  # Replace with your repo path
          event-type: moonlight-updated